*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plain Light";
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
}
.crsr{
    height: 2.6vw;
    width: 2.6vw;
    border-radius: 50%;
    border: 2px solid white;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    opacity: 0.7;

}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030202;
    padding: 25vh 10vw;
}
.line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;
}
.line-part1 h5,h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}
.line-part1 h5{
    width: 5vw;
    text-align: right;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line p{
    text-align: center;
    font-size: 1rem;
    font-family: silk serif;
    margin-top: 5vh;
    margin-left: 10vw;
}
#main{
    position: relative;
    background-color: #030202;
}

.page1{
    height: 100vh;
    width: 100%;
    background: #151515;;
}
.black{
    color: black;
   
}
.white{
   color: whitesmoke;
}

/* page1 */

.page1 .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.5vw;
}
.nav-routes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
}
.nav-routes h4{
    font-size: 1.1vw;
    font-weight: 400;
}
.hero{
    /* background-color: red; */
    font-family: plain serif;
    width: 70%;
    margin-left: 27%;
    font-weight: 400;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 9999;
}
#hero3 h2,h3{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 8vw;
    text-decoration: underline;

}
.hero:nth-child(2){
    margin-top: 13vh;
}
.hero h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 8vw;
}

.hero h2:hover{
    -webkit-text-stroke:0.4px #fff ;
    color: transparent;
    font-weight: 500;
}